<html>
    <head></head>
    <body>
        <h1>Select the user you want to chat with...</h1>
        <br>
        <form method = "post">
            {% csrf_token %}
            <select id="users" name = "users">
                {% for receiver in users %}
                    <option value = "{{ receiver.id }}">
                        <p>{{ receiver.usename }} : {{ receiver.first_name }} {{ receiver.last_name }}</p>

                    </option>
                {% endfor %}
            </select>
            <br><br>
            <button class = "btn" type = "submit" style = "background-color: #1B2430; color:white;">Chat</button>
        </form>
    </body>
</html>